
<h1 class="id" id = {{id}}>Blog {{id}}</h1>


<div id="output"></div>

<form id = "add-comment"> 
    <label for="comment-box">Add a comment</label>
    <textarea name="comment-box" id="comment-box" cols="30" rows="10"></textarea>
    <button onclick="addComment(event)">Submit</button>
</form>

<div id="output2"></div>



<script src="/js/blog.js"></script>