<div>

    {{data}}

  <h2> Dashboard for {{this.name}}   </h2>  

</div>

<div id="output">

</div>

<div id="new">
    <button class="btn" onclick="newBlog()">New Blog</button>
</div>

<div id="blog">

</div>


<script src="/js/dashboard.js"></script>
